* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

div {
    float: right;
}

input {
    height: 30px;
    width: 350px;
    font-size: 16px;
}

button {
    height: 30px;
    width: 350px;
    font-size: 16px;
    margin-bottom: 8px;
}

a {
    margin-top: 16px;
}

img {
    height: 300px;
    float: left;
}