* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --laranja: #f58013;
  --hoverLaranja: #e77408;
  --azul: #064176;
  --cinza-escuro: #292828;
  --branco: #fff;
  --hoverBranco: #dddcdc;
}
