#paraQuem {
  display: flex;
  flex-direction: column;
  background-color: var(--branco);
  padding-top: 84px;
  min-height: calc(100vh - 84px);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#title-paraQuem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

#title-paraQuem h3 {
  font-size: 32px;
  font-weight: 500;
  color: var(--azul);
}

#title-paraQuem h3 span {
  color: var(--laranja);
}

#div-cards-paraQuem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

#div-cards-paraQuem > h4 {
  font-size: 26px;
  font-weight: 600;
  color: var(--laranja);
}

#cards-paraQuem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card-paraQuem {
  width: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2rem;
  text-align: center;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0px 6px 6px var(--cinza);
}

.card-paraQuem img {
  width: 65px;
}

.card-paraQuem h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 26px;
  line-height: 28px;
  color: var(--azul);
}

.card-paraQuem p {
  color: var(--cinza-escuro);
}

@media (max-width: 1159px) {
  #div-cards-paraQuem > h4 {
    font-size: 26px;
    font-weight: 600;
    color: var(--laranja);
  }

  #cards-paraQuem {
    gap: 1.5rem;
  }
}

@media (max-width: 963px) {
  #cards-paraQuem {
    gap: 1rem;
  }
}

@media (max-width: 927px) {
  #title-paraQuem {
    padding-bottom: 1rem;
  }

  #paraQuem {
    padding-top: 60px;
  }

  .card-paraQuem {
    width: 90%;
  }
}

@media (max-width: 784px) {
  #title-paraQuem h3 {
    font-size: 28px;
    text-align: center;
  }
}

@media (max-width: 597px) {
  #title-paraQuem h3 {
    font-size: 24px;
    text-align: center;
  }

  #div-cards-paraQuem > h4 {
    font-size: 18px;
  }
}

@media (max-width: 338px) {
  #title-paraQuem h3 {
    font-size: 18px;
    text-align: center;
  }

  #div-cards-paraQuem > h4 {
    font-size: 14px;
  }
}
